.title { font-weight: bold; font-size: 150%; color: navy; background-color: blanchedalmond; padding: 1ex; }
.short { background-color: lightgray; padding: 1ex; font-style: italic }
.long { background-color: blanchedalmond; padding: 1ex; }

.list {
    box-sizing: border-box; 
    position: absolute;
    left: 0;
    top: 50px;
    right: 50%;
    margin: 1ex;
}

.list .item {
    box-sizing: border-box; 
    /*border: 1px solid navy;*/
    background-color: lightgray;
    padding: 1ex;
    font-family: monospace;
    cursor: pointer;
    height: 5ex;
    margin: 0.5ex;
}

.list .item:hover {
    background-color: gray;
}

#detail {
    margin: 1ex;
    box-sizing: border-box; 
    position: absolute;
    left: 50%;
    top: 50px;
    right: 100%;
    width: calc(50% - 2ex);
    border: 1px solid navy;
}

#heading {
    font-size: 200%; margin: 1ex;
    display: flex; justify-content: center;
}

#heading button {margin: 0 2ex}

body { max-width: 60em; margin: 0 auto; position: relative; }

.listItemDelete { float: right;  }